.project-link {
    text-decoration: none;
    display: block;
}

.project-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 500px;
    height: 250px;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 5px 20px 20px 20px;
    padding: 20px;
    border: 2px solid #7dcaed;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.project-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.8s ease;
    z-index: 0;
}

.project-container:hover {
    border: 2px solid #56a8d4;
    background-size: 120%;
    background-position: center;
    box-shadow: 0 4px 15px #7dcaed;
}

.created-date {
    display: flex;
    justify-content: center;
    color: #56a8d4;
}

.project-title {
    color: black;
    z-index: 1;
}

.project-container:hover .project-background {
    transform: scale(1.2);
}

@media screen and (max-width: 1024px) {
    .project-container {
        width: 400px;
        height: 200px;
    }
}

@media screen and (max-width: 600px) {
    .project-container {
        width: 300px;
        height: 150px;
    }
}


