.navbar-text-color {
    color: white;
}

.footer {
    background-color: #E68507;
}

.footer button {
    background-color: #FC9E4F;
    font-size: 18px;
    margin: 10px 10px;
}

.main-background {
    background-color: #3c649f;
}

.secondary-background {
    background-color: #D8F5FF;
}

.about-container {
    height: 100%;
    display: flex;
}

.about-content {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    border: 2px solid #3c649f;
    background-color: #6FAADD;
    max-width: 50%;
}

.about-content h2 {
    color: white;
    background-color: #3c649f;
}

.about-content p {
    color: white;
    line-height: 1.5;
    font-size: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    text-indent: 30px;
}

img {
    display: block;
    height: 350px;
    width: 250px;
    margin: auto;
}

.portfolioContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.portfolioCard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    background-color: #3c649f; 
    border-radius: 20px;
    width: 300px;
    height: 250px;
    border: 2px solid black;
    margin: 10px;
}

.portfolioCard:hover {
    opacity: 80%;
    font-size: 20px;
}

.portfolioBtnCenter {
    display: flex;
    margin: 0px auto;
}

.portfolioBtn {
    color: white;
    border: 5px double #e68507;
    border-radius: 15px;
    background-color: #e68507;
}

.portfolioBtn:hover {
    opacity: 80%;
}

.portfolioCard h2 {
    font-size: 25px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #6FAADD;
    width: 25em;
    margin: 50px auto;
    padding: 20px;
    border: 5px solid #3c649f;
    justify-content: space-between;
    height: 300px;
}

form label {
    font-size: 20px;
}

form input {
    width: 100%;
}

h2 {
    margin-top: 25px;
    text-align: center;
}

.submit {
    color: black;
    background-color: #e68507;
}

.submit:hover {
    color: black;
    background-color: #e68507;
    opacity: 70%;
}

.button {
    color: white;
}

.button:hover {
    color: white;
    background-color: #FC9E4F;
    opacity: 70%;
}

.skillSection {
    border: 1px solid black;
    color: white;
    background-color: #3c649f;
    display: flex;
    flex-direction: column;
    
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 20px;
}

.resumeItem {
    display: flex;
}