.navbar-text-color {
    color: white;
}

.footer {
    background-color: #E68507;
}

.footer button {
    background-color: #FC9E4F;
    font-size: 18px;
    margin: 10px 10px;
}

.main-background {
    background-color: #3c649f;
}

.secondary-background {
    background-color: #D8F5FF;
}

.about-container {
    height: 100%;
    display: flex;
}

.about-content {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    border: 2px solid #3c649f;
    background-color: #6FAADD;
    max-width: 50%;
}

.about-content h2 {
    color: white;
    background-color: #3c649f;
}

.about-content p {
    color: white;
    line-height: 1.5;
    font-size: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    text-indent: 30px;
}

img {
    display: block;
    border: 2px solid black;
    height: 500px;
    width: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.portfolioContainer {
    display: flex;
    justify-content: center;
}

.portfolioCard {
    min-width: 200px;
    min-height: 200px;
    border: 2px solid black;
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #6FAADD;
    width: 25em;
    margin: 50px auto;
    padding: 20px;
    border: 5px solid #3c649f;
    justify-content: space-between;
    height: 300px;
}

form label {
    font-size: 20px;
}

form input {
    width: 100%;
}

h2 {
    margin-top: 25px;
    text-align: center;
}

.submit {
    color: black;
    background-color: #e68507;
}

.submit:hover {
    color: black;
    background-color: #e68507;
    opacity: 70%;
}

.button {
    color: white;
    background-color: #3c649f;
}

.button:hover {
    color: white;
    background-color: #3c649f;
    opacity: 70%;
}